<html lang="en">

<head>
    <title>커피커피</title>
    <!-- 수직수평중앙 정렬, float, gradient, keyframe animation, first-child, last-child, 인라인스타일 사용 -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    
    <div class="skill-progress">
        <h1>Coffee Box Stock</h1>
        <div class="item">
            <p>
                <span> LUNGO </span>
                <span>MAX</span>
            </p>
            <div class="progress">
                <div id = "progress-bar-lungo" class="progress-level1"></div>
            </div>
            <p>
            <span>1</span>
            <span>3</span>
            <span>5</span>
            <span>7</span>
            <span>9</span>
            </p>
        </div>

        <div class="item">
            <p>
                <span>AMERICANO</span>
                <span>MAX</span>
            </p>
            <div class="progress">
                <div id = "progress-bar-americano" class="progress-level2"></div>
            </div>
            <p>
                <span>1</span>
                <span>3</span>
                <span>5</span>
                <span>7</span>
                <span>9</span>
                </p>
        </div>

        <div class="item">
            <p>
                <span>ESPRESSO</span>
                <span>MAX</span>
            </p>
            <div class="progress">
                <div id = "progress-bar-espresso" class="progress-level3"></div>
            </div>
            <p>
                <span>1</span>
                <span>3</span>
                <span>5</span>
                <span>7</span>
                <span>9</span>
                </p>
        </div>
    </div>
    <script src="../static/js/script.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

</body>


</html>